html, body {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 2em;
}

h2 {
    font-family: 'Forum', cursive;
    font-size: 1.5em;
/*    text-align: center; */
}

/* Flex Containers */

.container {
  max-width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #dae3e5;
}

/* Heading */

.container_a {
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%;
    background-color: #c7cdce;
}

header {
    display: flex;
    flex-flow: row wrap;
    padding-left: 1em;
    padding-right: 1em;
}

.logo {
    flex: .5;
    align-items: center;
}

.logo_img {
  max-width: 100%;
  max-height: 100%;
  padding-top: 1em;
}

.main_title {
    display: flex;
    flex-flow: column nowrap;
    flex: 2;
    padding-left: 1em;
}

.title {
    display: flex;
    align-items: flex-end;
}

.subtitle {
    text-align: left;
    font-size: 2em;
}

/* Nav Menu */

#top_menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    order: 0;
    max-width: 100%;
/*    padding-left: 3em;
    padding-right: 3em; */
    padding-top: 1em;
    padding-bottom: 1em;
}

a {
    padding-left: 1em;
    padding-right: 1em;
}

/* Featured */

.featured {
    width: 100%;
    padding-left: 1em;
    text-align: left;
}

/* Colors & Main Image */

.container_b {
  display: flex;
  flex-flow: row wrap;
}

.color_samples {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.color {
  min-height: 40px;
  min-width: 40px;
  padding: 1em;
}

.color_txt {
    display: flex;
    flex-flow: column wrap;
  }
  
  .teal {
  background-color: #1e5d69;
}

.med_teal {
  background-color: #0a9aa1;
}

.lt_teal {
  background-color: #50b7ba;
}

.main_img {
  max-width: 80%;
  padding-left: 1em;
}

.featured_img {
    max-width: 100%;
    align-content: center;
}

/* Projects Container */

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
}

.project1, .project2, .project3 {
    max-width: 22%;
    min-width: 190px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.project_pic {
    max-width: 100%;
    max-height: 100%;
    min-width: 170px;
}

footer {
    max-width: 100%;
    text-align: center;
    font-style: italic;
}

@media screen and (max-width: 600px) {
    #top_menu {
        justify-content: center;
    }
    .featured_title {
        font-size: 1.25em;
    }
    .color {
        min-height: 20px;
        min-width: 20px;
        padding: .5em;
    }
    .color_txt {
        font-size: .75em;
    }
    .main_img {
        max-width: 75%;
    }
}

@media screen and (min-width: 950px) {
    .container {
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
    }
}
